  
  
    <!-- Left side (Burgers Available) -->
     <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Available</div>
        <div class="card-body">
             <div class=burgers-available>
            <h3 class="submitFont">Available</h3>
            <div id="burgersAvailable">

        <!-- Dynamically Add User Burgers Here -->
            {{#each burgers}}
            {{#unless devoured}}
            <form action="burger/eat/{{id}}" method="POST">
                <div class="input-group">
                    <li class="form-control">{{id}}. {{burger_name}}</li>
                    <span class="input-group-btn">
                        <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                    </span>
                </div>
          </form>
            {{/unless}}
            {{/each}}

            </div>
            </div>   
        </div>
    
    </div>


    

    <!-- Right side (Burgers Devoured) -->
    {{!-- <div class=burger-devoured>
      <h3 class="submitFont">Burgers Devoured</h3>
      <div id="alreadyEaten">

        <!-- Dynamically Insert Devoured Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div> --}}

    <div class="right">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Yum</div>
        <div class="card-body">
            <div class=burger-devoured>
            <h3 class="submitFont">Burgers Devoured</h3>
            <div id="alreadyEaten">

        <!-- Dynamically Insert Devoured Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

            </div>
            </div>
        </div>
    </div>
    </div>
    
    {{!-- </div> --}}

{{!-- <div class=burger-devoured>
      <h3 class="submitFont">Burgers Devoured</h3>
      <div id="alreadyEaten">

        <!-- Dynamically Insert Devoured Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div> --}}

    {{!-- <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Available</div>
        <div class="card-body">
             <div class=burgers-available>
            <h3 class="submitFont">Available</h3>
            <div id="burgersAvailable">

        <!-- Dynamically Add User Burgers Here -->
            {{#each burgers}}
            {{#unless devoured}}
            <form action="burger/eat/{{id}}" method="POST">
                <div class="input-group">
                    <li class="form-control">{{id}}. {{burger_name}}</li>
                    <span class="input-group-btn">
                        <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                    </span>
                </div>
          </form>
            {{/unless}}
            {{/each}}

            </div>
            </div>   
        </div>
    
    </div>

    <div class=burgers-available>
      <h3 class="submitFont">Available</h3>
      <div id="burgersAvailable">

        <!-- Dynamically Add User Burgers Here -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div> --}}